*.tgz
very-old-picoLisp/*
old-picoLisp/*
picoLisp/*
!picoLisp/iorg
picoLisp/iorg/html
picoLisp/iorg/webpage.l
picoLisp/iorg/piki.l
picoLisp/iorg/er2.l
picoLisp/iorg/gui2.l
picoLisp/iorg/webpage-orig.l
!picoLisp/wiki
picoLisp/iorg/sandbox
picoLisp/iorg/el/ox-iorg-form.el

